# Welcome to Jekyll!
#
# This config file is meant for settings that affect your whole blog, values
# which you are expected to set up once and rarely edit after that. If you find
# yourself editing this file very often, consider using Jekyll's data files
# feature for the data you need to update frequently.
#
# For technical reasons, this file is *NOT* reloaded automatically when you use
# 'bundle exec jekyll serve'. If you change this file, please restart the server process.

# Site settings
# These are used to personalize your new site. If you look in the HTML files,
# you will see them accessed via {{ site.title }}, {{ site.email }}, and so on.
# You can create any custom variable you would like, and they will be accessible
# in the templates via {{ site.myvariable }}.
title: Nathaniel Knudsen | senior software engineer
masthead_title: "Nathaniel Knudsen"
name: Nathaniel Knudsen
email: contact@stoicswe.com
logo: "/assets/images/logo.png"
description: >- # this means to ignore newlines until "baseurl:"
  Nathaniel Knudsen, senior software engineer at GE Vernova.
#twitter_username: stoicswe
github_username: stoicswe
minimal_mistakes_skin: dark #default
search: true
locale: "en-US"

# Setting the twitter username
#twitter:
#  username: "stoicswe"

# More social links for SEO
social:
  type: "Person" # Person or Organization (defaults to Person)
  name: "Nathaniel Knudsen" # If the user or organization name differs from the site's name
  links:
    - "https://bsky.app/profile/stoicswe.com"
    - "https://www.linkedin.com/in/stoicswe/"
    - "https://github.com/stoicswe"

# Build settings
markdown: kramdown
remote_theme: mmistakes/minimal-mistakes
# Outputting
permalink: /:categories/:title/
paginate: 5 # amount of posts to show
paginate_path: /page:num/
timezone: # https://en.wikipedia.org/wiki/List_of_tz_database_time_zones

include:
  - _pages

# Exclude from processing.
# The following items will not be processed, by default. Create a custom list
# to override the default setting.
# exclude:
#   - Gemfile
#   - Gemfile.lock
#   - node_modules
#   - vendor/bundle/
#   - vendor/cache/
#   - vendor/gems/
#   - vendor/ruby/

# Plugins (previously gems:)
plugins:
  - jekyll-paginate
  - jekyll-sitemap
  - jekyll-gist
  - jekyll-feed
  - jemoji
  - jekyll-include-cache

author:
  name: "Nathaniel Knudsen"
  avatar: "/assets/images/bio-photo.jpg"
  bio: "senior software engineer at ge digital. stoic. professional coffee addict. starcitizen enthusiast. privacy rights/OSS advocate. views are my own. he/him/his"
  location: "United States"
  links:
    - label: "Bluesky"
      icon: "fas fa-fw fa-bluesky"
      url: "https://bsky.app/profile/stoicswe.com"
    - label: "LinkedIn"
      icon: "fab fa-fw fa-linkedin"
      url: "https://www.linkedin.com/in/stoicswe/"
    - label: "GitHub"
      icon: "fab fa-fw fa-github"
      url: "https://github.com/stoicswe"

footer:
  links:
    - label: "Bluesky"
      icon: "fas fa-fw fa-bluesky"
      url: "https://bsky.app/profile/stoicswe.com"
    - label: "LinkedIn"
      icon: "fab fa-fw fa-linkedin"
      url: "https://www.linkedin.com/in/stoicswe/"
    - label: "GitHub"
      icon: "fab fa-fw fa-github"
      url: "https://github.com/stoicswe"

defaults:
  # _posts
  - scope:
      path: ""
      type: posts
    values:
      layout: single
      author_profile: true
      read_time: false
      words_per_minute: 250
      comments: false
      share: true
      related: true
      show_date: false
  # _pages
  - scope:
      path: "_pages"
      type: pages
    values:
      layout: single
      author_profile: true

category_archive:
  type: liquid
  path: /categories/
tag_archive:
  type: liquid
  path: /tags/

# Performance improvement
compress_html:
  clippings: all
  ignore:
    envs: development
