---
layout: single
---

<br></br>
<blockquote>
    <p>
        "I must not fear. Fear is the mind-killer. Fear is the little-death that brings total obliteration. I will face my fear. I will permit it to pass over me and through me. And when it has gone past I will return the inner eye to see its path. Where the fear has gone there will be nothing. Only I will remain." 
    </p>
</blockquote>
<h3>Paul Atreides, Dune.</h3>

<p>
    Too often the world fears change and is slow in accepting change. It is,however, through change and restrospection that we learn more about ourselves and how to make the right changes in order to improve.
</p>

<br></br>

<p>
    Hey, I am Nathaniel Knudsen. I work as a professional software engineer for GE Digital (a subsect of GE Vernova), building the next generation of smart software for the future electric grid. Welcome to my website and if it is your first time here, I encourage you to take a look at my about page for more information on my skillset(s) and the best method to connect with me.
</p>

<!--
{{ content }}
-->

<!--
<h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: "Recent Posts" }}</h3>

{% if paginator %}
  {% assign posts = paginator.posts %}
{% else %}
  {% assign posts = site.posts %}
{% endif %}

{% assign entries_layout = page.entries_layout | default: 'list' %}
<div class="entries-{{ entries_layout }}">
  {% for post in posts %}
    {% include archive-single.html type=entries_layout %}
  {% endfor %}
</div>

{% include paginator.html %}
-->
